.centro{
    display: flex;
    justify-content: center;
}

.contenido{
    margin-top: 70px;
    background-color: #fff;
    border-radius: 5px;
    width: 81%;
    color: #000;
}

.ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
    
}

.ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    width: 18rem;
    height: 5rem;
    transition: all 0.4s ease;
}

.ul li:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #0088a9;
    width: 18rem;
    height: 5rem;
    border-radius: 4px;
    
}

.one{
    padding: 30px;
}

.com{
    font-size: 30px;
}

.lorem{
    font-size: 17px;
}

.lorem li{
    color: #000;
    font-size: 17px;
}

Link:hover{
    color: none;
}

.sub{
    z-index: 1;
    position: fixed;
    bottom: 120px;
    right: 70px;
}

.subir{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 30px;
}

.subir:hover{
    color: #fff;
    background-color: #0088a9;
}

@media (min-width:1445px){
    .contenido{
        width: 84%;
    }    

    .ul li{
        width: 25rem;
        height: 5rem;
        ;
    }
    
    .ul li:hover{
        width: 25rem;
        height: 5rem;
    }
}