

div p{
    color: #000;
    margin-top: 10px;
}

.p{
    color: #fff;
}

.card{
    width: 26rem;
    margin-top: 20px;
}

.imgSection-1{
    margin-top: 30px;
    margin-left: 17px;
    width: 90%;
    height: 80%;
}

h5{
    text-align: center;
}

.desc{
    margin-bottom: 8px;
    font-size: 1rem;
}

.precio{
    display: flex;
    justify-content: end;
    margin-bottom: 8px;
    font-size: 1.3rem;
    font-weight: 500;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    font-size: 10px;
}

.boton{
    margin-top: 10px;
    background-color: #0088a9;
    border: none;
}

.boton:hover{
    background-color: #026983;
}

.ver{
    display: flex;
    justify-content: center;
    background-color: rgb(61, 60, 60);
}