.cont-img{
    display: grid;
    grid-template-columns: repeat(3, 28rem);
    justify-items: center;
    margin-top: 80px;
    margin-left: 10px;
}

@media (min-width:1550px){
    .cont-img{
        display: grid;
        grid-template-columns: repeat(3, 37rem);
        justify-items: center;
        margin-top: 80px;
        margin-left: 10px;
    }
    
}