@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body{
  background-color: rgb(8, 35, 53);
  font-family: 'Poppins', sans-serif;
}

.btn2{
  z-index: 1;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
