@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body{
  background-color: rgb(8, 35, 53);
}

.button{
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.button:hover{
  background-color: #eaecec;
  color: #000;
}

.btn2{
  position: fixed;
  bottom: 30px;
  right: 30px;
}
